/* ------------------------------------------ */
/*            RESPONSIVE STYLE
/* ------------------------------------------ */
@media screen and (max-width: 1800px) {
  /* Portfolio Section */
  .portfolio .shutter-info .shutter-title {
    font-size: 20px; }
  .portfolio .shutter-info .shutter-text {
    font-size: 14px; } }

@media screen and (max-width: 1530px) {
  /* Header Section */
  header.plr120,
  header .plr120 {
    padding: 0 40px; }
  header.type-2 .container-fluid {
    padding-left: 40px;
    padding-right: 40px; }
  /* Portfolio Section */
  .portfolio .shutter-text {
    display: none; } }

@media screen and (max-width: 1350px) {
  /* Services Section */
  .services .container {
    width: inherit; } }

@media screen and (max-width: 1300px) {
  /* Header Section */
  header.plr120,
  header .plr120 {
    padding: 0 15px; }
  header.type-2 .container-fluid {
    padding-left: 15px;
    padding-right: 15px; }
  .bottom-line-3 {
    padding: 0 15px; } }

@media screen and (max-width: 1270px) {
  /* Team Section */
  .team .team-slider-bl .team-slider {
    right: -10px; }
  /* Search Window */
  .search_modal .search_form {
    height: 80px;
    font-size: 16px; }
  .search-wrap {
    line-height: 78px; }
  .search-input {
    padding-left: 30px; }
  .search-submit {
    padding-right: 30px; }
  /* Header Section */
  .bottom-line-2 {
    height: 80px; }
  .header-line-wrapper {
    height: 80px; }
  header {
    /*== HEADER TYPE 1 ==*/
    /*== HEADER TYPE 2 ==*/
    /*== HEADER TYPE 3 ==*/ }
    header .logo img {
      max-width: 160px; }
    header .menu-1 > li {
      margin: 0 15px;
      line-height: 80px; }
    header .top-bar-social .social-list div {
      font-size: 12px; }
    header .social-list .square40 {
      width: 30px;
      height: 30px; }
    header .top-bar-social a,
    header .top-bar-social span {
      line-height: 30px; }
    header .menu-1 > li > a:after {
      right: -15px; }
    header.type-1 {
      height: 80px; }
    header.type-2 .bottom-line-wrapper {
      height: 80px; }
    header.type-2 .container-fluid {
      font-size: 12px; }
      header.type-2 .container-fluid .fsize-14 {
        font-size: 12px; }
    header.type-3 .bottom-line-3 {
      height: 80px; }
    header.type-3 .menu-1 > li {
      margin-left: 14px;
      margin-right: 14px; }
  /* Portfolio Section */
  .portfolio .shutter-info .shutter-title {
    margin-bottom: 10px; } }

@media screen and (min-width: 1200px) {
  /* Header Section */
  header [class*='col-'] {
    padding-left: 0;
    padding-right: 0; }
  /* Blog Page Post Small Image */
  .format-small-image .item-media img {
    width: auto;
    max-width: inherit; } }

@media screen and (max-width: 1200px) {
  /* Blog Page */
  .format-quote .testimonial-content .content-wrap {
    padding-bottom: 30px; }
  /* Basic Styles */
  section.pt100 {
    padding-top: 60px; }
  /* Portfolio Section */
  .portfolio .shutter-text {
    display: block; }
  /* Calendar Styles */
  .calendar-bl .date-picker-wrapper .month-wrapper .month1 tbody tr:first-child td {
    padding-top: 0; }
  .calendar-bl .date-picker-wrapper .month-wrapper .month1 tbody tr:last-child td {
    padding-bottom: 0; }
  .calendar-bl .date-picker-wrapper .month-wrapper table .caption {
    height: 50px; }
  .calendar-bl .date-picker-wrapper .month-wrapper table .month-name {
    font-size: 16px; }
  .calendar-bl .date-picker-wrapper .month-wrapper table .day {
    padding: 6px 0; }
  .calendar-bl .date-picker-wrapper .month-wrapper table td:first-child {
    padding-left: 5px; }
  .calendar-bl .date-picker-wrapper .month-wrapper table td:last-child {
    padding-right: 5px; }
  .calendar-bl .date-picker-wrapper .week-name th {
    padding-top: 6px !important;
    padding-bottom: 6px !important; }
    .calendar-bl .date-picker-wrapper .week-name th:first-child {
      padding-left: 6px !important; }
    .calendar-bl .date-picker-wrapper .week-name th:last-child {
      padding-right: 6px !important; }
  /* About Page */
  .about-text .about-sizer-img {
    margin-top: 0px; }
  /* Team Section */
  .team .team-slider-bl {
    padding: 0 15px;
    margin-bottom: 60px; }
    .team .team-slider-bl .team-slider {
      position: relative;
      right: auto;
      left: 0;
      top: auto;
      bottom: 0; }
  /* Header Section */
  header.type-3 .menu-1 > li a {
    font-size: 12px; }
  /* Sidebar Calendar */
  .calendar-bl .date-picker-wrapper table .caption > th:first-of-type {
    width: auto; }
  .calendar-bl .date-picker-wrapper table .caption > th:last-of-type {
    width: auto; }
  /* Post Page */
  .post-default-tamplate .post-wrapper .author-post-info .item-media {
    text-align: center; }
    .post-default-tamplate .post-wrapper .author-post-info .item-media img {
      width: auto !important;
      max-width: inherit; }
  .post-default-tamplate .post-wrapper .author-post-info .info-wrap {
    position: relative;
    margin-top: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: inline-block;
    width: auto; }
  /* Blog  Page Post Small Image*/
  .format-small-image .info-wrap {
    position: relative;
    top: 0;
    -webkit-transform: none;
            transform: none;
    width: auto;
    margin: -30px 15px 0 15px; }
  /* Portfolio Page Fullwidth */
  .item_container.fullwidth h5 {
    font-size: 16px; }
  /* Team Section */
  .team .team-info-header {
    padding: 60px; }
  .team .title-bl {
    display: inline-block; }
  .team .social-bl {
    display: block;
    margin-top: 10px;
    text-align: left; }
  /* Testimonial Section */
  .testimonials-slider .slick-dots {
    bottom: 100px; }
  /* Animation Style */
  .scale-1 {
    -webkit-transform: none !important;
            transform: none !important;
    border-radius: 0 !important; }
  /* Portfolio Section */
  .portfolio .shutter-info .shutter-title {
    font-size: 32px;
    margin-bottom: 30px; }
  .portfolio .shutter-info .shutter-text {
    font-size: 16px; } }

@media screen and (max-width: 991px) {
  /* Main Slider */
  #n2-ss-2-arrow-previous {
    left: 15px !important; }
  #n2-ss-2-arrow-next {
    right: 15px !important; }
  /* About Page */
  .about-info {
    background-size: auto 120%; }
  /* Team Section */
  .team {
    background-size: auto 120%; }
  /* Basic Styles */
  .item-wrap {
    max-width: 100%; }
    .item-wrap .image img {
      width: 100%; }
  /* Post Page */
  .post-default-tamplate .post-wrapper .post-commet-bl .comment-meta > div {
    display: block; }
    .post-default-tamplate .post-wrapper .post-commet-bl .comment-meta > div:nth-child(2) {
      text-align: left; }
  /* Portfolio Single Page */
  .portfolio-single .item-info-bl {
    margin: 0 15px;
    padding: 30px;
    top: -60px; }
    .portfolio-single .item-info-bl h5 {
      font-size: 16px; }
    .portfolio-single .item-info-bl .social-list {
      text-align: left;
      margin-top: 15px; }
  /* Single Team */
  .default-tabs .nav-tabs li a {
    font-size: 10px;
    padding: 10px; }
  .default-tabs h5 {
    font-size: 20px;
    margin-top: 1.1em;
    margin-bottom: 0.8em; }
  .default-tabs .main-text {
    padding: 30px; }
  /* Basic Style */
  section.ptb100 {
    padding-top: 60px;
    padding-bottom: 60px; }
  section.ptb120 {
    padding-top: 60px;
    padding-bottom: 60px; }
  /* Blog Page */
  .page-holder.ptb120 {
    padding-top: 60px;
    padding-bottom: 60px; }
  .blog-content {
    padding-bottom: 60px; }
  /* About Page */
  .about-info [class*='col-'] {
    margin-bottom: 50px; }
  /* Testimonial Section */
  .testimonials-slider .testimonial-img {
    height: 400px;
    background-position: top center; }
  .testimonials-slider .testimonial-content-bl {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center; }
  .testimonials-slider .testimonial-wrapper {
    display: inline-block;
    margin: 0 auto; }
  .testimonials-slider .slick-dots {
    bottom: 50px;
    left: 50%; }
  /* Price Section */
  .price-center {
    margin-top: 0; }
  /* Basic Style */
  .mb-md-60 {
    margin-bottom: 60px; }
  /* About Section */
  .about {
    padding: 50px 0; }
    .about [class*='col-lg-4'] {
      margin-top: 0; }
  /* About Section */
  .quote .quote-title {
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 16px; }
  /* Footer Section */
  footer.type-2 [class*='col-lg-8'] {
    margin-top: 30px; }
  /* Basic Style */
  .text-md-center {
    text-align: center; }
  /* Header Section */
  header .main-menu {
    padding: 0;
    position: relative;
    left: auto !important;
    -webkit-transform: none;
            transform: none; }
    header .main-menu .menu-1 {
      position: fixed;
      top: 0;
      bottom: 0;
      left: -100%;
      right: -100%;
      z-index: 100;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      background: #1e283c;
      text-align: left;
      padding: 0 30px;
      overflow-y: auto; }
      header .main-menu .menu-1:before {
        content: '';
        display: block;
        position: fixed;
        background: rgba(30, 40, 60, 0.8);
        width: 100%;
        height: 100%;
        right: 0; }
    header .main-menu .menu-1.open {
      visibility: visible;
      opacity: 1;
      left: 0;
      right: 60px;
      -webkit-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out; }
    header .main-menu .menu-1 > li > a:after {
      display: none; }
    header .main-menu .menu-1 > li {
      display: block;
      margin: 14px 0;
      line-height: normal !important;
      float: none; }
    header .main-menu .menu-1 > li:before {
      display: none; }
    header .main-menu.menu-white .toggle_menu:before,
    header .main-menu.menu-white .toggle_menu span,
    header .main-menu.menu-white .toggle_menu span:before,
    header .main-menu.menu-white .toggle_menu span:after {
      background-color: #58709d; }
    header .main-menu .toggle_menu {
      display: inline-block; }
  header.type-1 .menu-1 li a {
    color: #fff; }
  header.type-1 .menu-1 > li {
    line-height: normal;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  header.type-2 .menu-1 li a {
    color: #fff; }
  header.type-3 {
    background: #1e283c; }
    header.type-3 .menu-wrapper {
      position: static;
      -webkit-transform: none;
              transform: none; }
    header.type-3 .menu-1 > li {
      margin-top: 14px;
      margin-bottom: 14px; }
      header.type-3 .menu-1 > li a {
        color: #fff; }
  header.type-4 .main-menu {
    line-height: 60px; }
  header.type-4 .toggle_menu {
    height: 60px; }
  header.type-4 .menu-1 > li {
    line-height: normal; }
    header.type-4 .menu-1 > li a {
      color: #fff;
      font-size: 14px; }
  header .menu-1 .sub-menu {
    visibility: visible;
    opacity: 1;
    display: none; }
  header .menu-1 .open-list > .sub-menu {
    display: block; }
  header .menu-1.open .sub-menu {
    position: static;
    background: transparent !important;
    font-size: 12px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    text-align: left; }
    header .menu-1.open .sub-menu li.open-list .sub-menu {
      visibility: visible;
      opacity: 1; }
    header .menu-1.open .sub-menu .sub-menu {
      padding: 5px 0;
      position: static;
      background: transparent;
      font-size: 12px;
      -webkit-transform: translateX(0);
              transform: translateX(0);
      text-align: left; }
      header .menu-1.open .sub-menu .sub-menu li a {
        font-size: 10px; }
        header .menu-1.open .sub-menu .sub-menu li a:before {
          content: '--';
          margin-right: 5px; }
  header .menu-1.open .sub-menu li {
    padding: 0 15px; }
  header .menu-1.open .sub-menu li a {
    border-bottom: none;
    padding: 6px 0; }
    header .menu-1.open .sub-menu li a:before {
      content: '-';
      display: inline-block; }
  .menu-item-has-children > a .fa-angle-down {
    display: inline-block !important;
    position: absolute;
    right: 0px; } }

@media screen and (max-width: 805px) {
  /* Modal window */
  .modal_wrap .advantage {
    font-size: 14px; } }

@media screen and (max-width: 800px) {
  .modal_wrap {
    width: 90%; } }

@media screen and (max-height: 864px) {
  .header-line-wrapper {
    position: static !important; }
  .n2-ss-control-bullet {
    bottom: 20px !important; } }

@media screen and (max-width: 767px) {
  /* Main Slider */
  .main-slider .btn {
    line-height: 50px !important; }
  .slide-desc {
    display: none; }
  /* Clients Page */
  .client-item {
    margin-left: -15px;
    margin-right: -15px; }
    .client-item [class*='col-'] {
      padding-left: 15px;
      padding-right: 15px; }
  /* Basic Style */
  .container {
    max-width: 500px; }
  .title {
    line-height: normal; }
    .title span {
      font-size: 30px; }
  .ptb50-xs {
    padding-top: 50px;
    padding-bottom: 50px; }
  .text-sm-right {
    text-align: right; }
  .text-sm-center {
    text-align: center; }
  .sm-none {
    display: none; }
  .container {
    width: 100%; }
  /* Blog Page */
  .sidebar {
    padding-top: 60px; }
  .slider-wrap .blog-gallery .slider-container {
    font-size: 24px;
    line-height: normal; }
  .slider-wrap .blog-gallery .slick-dots {
    bottom: 20px; }
  .alignment-container {
    padding-bottom: 150px; }
  .blog-content .media-responsive {
    height: 300px; }
  .alignment-item {
    position: static !important; }
  .alignright,
  .alignleft {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .blog .blog-title-bl {
    display: inline-block; }
  .blog .blog-view-bl {
    display: block;
    margin-top: 30px;
    text-align: center; }
  .blog .section-header {
    text-align: center; }
  /* Services Section */
  .services.pt150 {
    padding-top: 80px; }
  .services .tab-content {
    bottom: 0; }
  .services .tab-content.pb80 {
    padding-left: 15px;
    padding-right: 15px; }
  /* Footer Section */
  footer .container {
    padding-top: 50px; }
  footer .row.mb120 {
    margin-bottom: 50px; }
  footer.type-2 .footer-menu > li {
    display: block;
    margin: 0;
    line-height: 30px; }
  /* Video Section */
  .video-info {
    padding-top: 0; }
  /* Modal Windows */
  .modal_wrap {
    overflow-y: auto; }
    .modal_wrap .bottom-btn {
      display: block; }
    .modal_wrap .btn-reg {
      padding: 0;
      width: 100%; }
  .login_modal .column_wrap {
    display: block; }
  .login_modal .columns {
    display: block;
    padding: 30px; }
  .registration-modal form {
    padding: 30px; }
  /* Header Section */
  .top-bar-social {
    width: 30px; }
  header.type-2 {
    position: relative; }
  header.type-3 {
    position: relative;
    padding-bottom: 0; }
    header.type-3 .top-line {
      line-height: 30px; }
  header.type-4 {
    position: relative; }
    header.type-4 .logo {
      line-height: 60px; }
    header.type-4 .middle-line .phone-bl,
    header.type-4 .middle-line .schedule-bl {
      line-height: 60px; }
      header.type-4 .middle-line .phone-bl .fsize-56,
      header.type-4 .middle-line .schedule-bl .fsize-56 {
        font-size: 25px; }
      header.type-4 .middle-line .phone-bl .fsize-20,
      header.type-4 .middle-line .schedule-bl .fsize-20 {
        font-size: 16px; } }

@media screen and (max-height: 600px) {
  /* Modal Window */
  .registration-modal .modal_wrap {
    position: static;
    -webkit-transform: none;
            transform: none;
    margin: 0 auto; }
  .registration-modal form {
    overflow-y: auto;
    max-height: 100vh; }
  .registration-modal .modal_input {
    padding-top: 15px;
    padding-bottom: 15px; } }

@media screen and (min-width: 480px) {
  /* Basic Style */
  .plr50-lg {
    padding-left: 50px;
    padding-right: 50px; } }

@media screen and (max-width: 480px) {
  .adaptive-table {
    display: block;
    overflow-x: auto; }
  .post-head .info-management {
    padding-left: 15px;
    padding-right: 15px; }
  .info-wrap .info-management {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center; }
  .format-chat .info-management {
    text-align: center; }
  /* 404 Page */
  .error-page .error-title {
    font-size: 100px;
    line-height: 100px; }
  .error-page .page_input,
  .error-page .input-wrap {
    width: 100%; }
  /* Breadcrumbs Style */
  .breadcrumbs span {
    padding: 0 15px; }
  .breadcrumbs a {
    padding: 0 15px; }
  /* Team Section */
  .team .team-slider-bl .team-slider .team-slider-img {
    height: 300px; }
  /* Testimonial Section */
  .testimonial-author .author-col {
    display: block;
    text-align: center;
    margin-bottom: 10px; }
  /* About Section */
  .quote form {
    padding: 30px; } }

@media screen and (max-width: 394px) {
  /* Modal Window */
  .login_modal .reg-info,
  .login_modal .lost_password {
    font-size: 12px; }
  /* Testimonial Section */
  .testimonial-nav {
    width: 100%; } }

@media screen and (max-width: 380px) {
  /* Contact Page */
  .contact-item .second-row {
    font-size: 16px; }
    .contact-item .second-row a {
      font-size: 16px; }
  /* Post Page */
  .post-default-tamplate .post-wrapper .author-post-info .item-media img {
    width: 100% !important; }
  /* Calendar Sidebar */
  .calendar-bl .date-picker-wrapper table .caption > th:first-of-type,
  .calendar-bl .date-picker-wrapper table .caption > th:last-of-type {
    width: auto; }
  /* Blog Page */
  .format-quote {
    margin-left: -15px;
    margin-right: -15px; }
  /* Header Section */
  header.type-2 .top-line-2 .mr20 {
    margin-right: 5px; }
  header.type-3 .top-line .mr20 {
    margin-right: 5px; }
  header.type-3 .top-line span,
  header.type-3 .top-line a {
    font-size: 12px; }
  /* Portfolio Section */
  .portfolio .shutter-info .shutter-title {
    font-size: 20px;
    margin-bottom: 10px; }
  .portfolio .shutter-info .shutter-text {
    font-size: 16px; } }
